[submodule "ArduinoCore-avr"]
	path = ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr
[submodule "Adafruit-GFX-Library"]
	path = Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "MCUFRIEND_kbv"]
	path = MCUFRIEND_kbv
	url = https://github.com/prenticedavid/MCUFRIEND_kbv
